<!-- Book Review Layout -->
<!DOCTYPE html>
<html>
  <head lang="en">
  <meta char="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <script type="text/javascript" src=""></script>
  <title>Books</title>
</head>
  <div class="container" >
    <div class ="content">
  <body id="container">
    <header>
      <h1>Book Review App</h1>
    </header>
    <section>
      <article>

        <%= yield %>

      </article>
    </section>
  </body>
  </div>
</div>
<div id="footer">
<footer>
  <p>
    Spencer Eldred<br/>
    eldredspencer@gmail.com<br/>
    808.280.3758 <br>
  </p>
  <div>
    <ul>
        <li><a href="https://www.facebook.com/spencer.eldred.3" title="Spencer's Facebook" ><img class="icon" src="/facebook.png" alt="Facebook" title="Facebook"></a>
        </li>
        <li><a href="https://twitter.com/login" title="Spencer's Twitter" ><img class="icon" src="/twitter.jpeg"
            alt="`Twitter" title="`Twitter"></a>
        </li>
        <li><a href="https://www.linkedin.com/" title="Spencer's Linked In" ><img class="icon" src="/linked_in_icon.jpg"
            alt="Linked In" title="Linked In"></a>
        </li>
      </ul>
    </div>
</footer>
</div>
</html>